---
import { PageTransition } from "astro-page-transition";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.scss";
---

<!DOCTYPE html>
<html lang="en" class="h-full bg-bgwhite dark:bg-[#282c34]">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body class="m-0 p-0 h-full bg-bgwhite dark:bg-[#282c34]">
    <Header />
    <PageTransition speed={200} background="var(--bg-color)" zIndex={99} />
    <main class="h-3/4 pt-20 container mx-auto max-w-[980px] leading-loose">
      <h2>嘿，这里是Dustella</h2>
      <p>我希望自己是一个优雅的慵懒的魔法师，稍微会一点前端魔法。</p>
      <p>
        是 <a
          href="https://me.penclub.club"
          class="text-gray-400 font-bold underline underline-offset-5"
          >北雁云依</a
        > 的男朋友。
      </p>
      <p>折腾过乱七八糟的东西，希望可以交到更多朋友</p>
      <p>
        PM随意，可以 <a
          href="https://t.me/dustella"
          class="text-gray-400 font-bold underline underline-offset-5"
          >tg联系我</a
        >
      </p>
    </main>
    <Footer />
  </body>
</html>
