---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import FriendList from "../components/FriendList.astro";
import { PageTransition } from "astro-page-transition";
---

<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
  <Header title={SITE_TITLE} />
  <PageTransition speed={200} background="#f5f5f5" zIndex={99} />
  <FriendList />
  <Footer />
</body>
