---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import FriendList from "../components/FriendList.vue";
---

<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
  <Header title={SITE_TITLE} />
  <FriendList client:only="vue" />
  <Footer />
</body>
