---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import FriendList from "../components/FriendList.astro";
import { Spa } from "astro-spa";
---

<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
  <Header title={SITE_TITLE} />
  <FriendList />
  <Footer />
  <Spa progressBar={false} />
</body>
