<footer>
  <p class="cc">Dustella here. Under CC BY-NC-ND 4.0</p>
  <p class="icp">苏ICP备20013766号-2</p>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
  .cc {
    font-size: 15px;
  }
  .icp {
    font-size: 12px;
    color: gray;
  }
</style>
