---
export interface Props {
  info: {
    avatar: string;
    name: string;
    desc: string;
    link: string;
  };
}
const { info: userInfo } = Astro.props;
---

<a href={userInfo.link} target="_blank">
  <div
    id={userInfo.name}
    class="rounded-xl border-1 border-gray-3 w-full flex flex-col overflow-hidden justify-center items-center grow hover:cursor-pointer"
  >
    <h3
      class="text-center font-bold text-dark-800 bg-gray-2 dark:bg-gray-6 dark:text-[#abb2bf] m-0 w-full py-4"
    >
      {userInfo.name}
    </h3>
    <p class="text-center underline-unset text-gray-500 dark:text-[#abb2bf]">
      {userInfo.desc}
    </p>
  </div>
</a>
