---
import { SITE_DESCRIPTION, SITE_LINKS, SITE_TITLE } from "../config";
import "../styles/unreset.scss";
---

<header class="py-5 flex w-full justify-between backdrop-saturate-10 border-1">
  <h2 class="xl:ml-30 ml-10 text-left font-bold text-xl">
    {SITE_TITLE}
  </h2>
  <nav class="sm:flex hidden  items-center justify-around xl:pr-10">
    {
      SITE_LINKS.map((item) => (
        <a href={item.link} class="text-[#191B1D] mx-2 font-100">
          <!-- <img src={item.icon} alt="item.name" width="20" height="20" /> -->
          <p>{item.name}</p>
        </a>
      ))
    }
  </nav>
</header>
<style></style>
